@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignalR ORder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="col-6">
        <input type="button" id="findDriver" value="Show available drivers" />
    </div>
    <h1 id="lat">@ViewData["Lattitude"]</h1>
    <h1 id="lon">@ViewData["Longitude"]</h1>

    <div class="row">
        <div class="col-6">
            <ul class="list-group" id="driversList">pp</ul>
        </div>
    </div>

    
 <input id="CreateOrder" name="model"/>
 <input id ="GoGoGo" type="button" name="RedirectToOrder"/>
    
    

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">


        const connection = new signalR.HubConnectionBuilder().withUrl("/orderHub").build();

        connection.on("Receive", function (userName) {

            var encodedMsg = userName + "";
            var li = document.createElement("li");
            li.className = 'list-group-item';
            li.textContent = encodedMsg;
            document.getElementById("driversList").appendChild(li);
        });

        document.getElementById("findDriver").addEventListener("click", function (e) {


            connection.invoke("Send", document.getElementById("lat").innerText, document.getElementById("lon").innerText);
        });

        connection.start();

        document.getElementById('GoGoGo').onclick = async function GoToOrder() {

            let CoordObj = {
                Lattitude : @ViewData["Lattitude"],
                Longitude : @ViewData["Longitude"],
            }

            let CoordObjForSending = JSON.stringify(CoordObj);
            console.log('hello');
            $('#CreateOrder').val("@ViewData["Lattitude"]" + " " + "@ViewData["Longitude"]");

            let Drvierurl = "@Url.Action("OrderWindowPage", "Order")";

            const response = await fetch(Drvierurl, {
                method: 'POST',
                headers: new Headers({ 'Content-Type': 'application/json' }),
                body: JSON.stringify(CoordObj),
            });

            let responseFromContoller = await response.json();

            let OrderDataForWindow = JSON.stringify(responseFromContoller);

            console.log(CoordObj["Lattitude"]);
            console.log(CoordObj["Longitude"]);
            
            window.location.href = '@Url.Action("OrderWindowPageOpen", "Order")' + '?' + CoordObj["Lattitude"] + '&' + CoordObj["Longitude"];

        };


    </script>
</body>
</html>
